version: "3"

services:
  postgres:
    image: "postgres:10"
    volumes:
      - postgres:/var/lib/postgresql/data

  app:
    depends_on:
      - "postgres"
    build: .
    command: bash start.sh
    ports:
      - "3001:3001"
    volumes:
      - .:/onebitfood
      - gems:/gems


volumes:
  postgres:
  gems:
